extends layout

block content
	h1 Magellans Journey
	p Welcome to #{title}
	img#map(src= 'http://09explorationperiod2.pbworks.com/f/1255043643/JS%20FM%20route%20map004.jpg')
	p You have landed at Magellan's first stop: Seville. 
	a(href= '/canary')
			button#button(type= 'button') Next Stop: Canary Islands!

	

